@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    font-size: 15px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 130px;
}

footer{
    width: 100%;
    padding: 20px 350px ;
    font-size: 15px;
    align-items: center;
    margin-top: 80px;
}

main {
    width: 85%;
    margin: auto;
}

.filmsNext > a, .flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

#logo_IMDb {
    width: 70px;
}

a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    padding: 4px 4px;
    width: 10%;
}

a:hover {
    background-color: #555555;
    color: white;
    border-radius: 2px 2px;
}

i {
    margin: 0 8px;
}

li > a > i {
    color: #555555;
    margin: 0 8px;
}

a:hover i {
    color: white;
}

input {
    border: none;
    height: 30px;
    background-color: white;
    border-radius: 2px 2px;
    margin: 0 0;
    border: 0.5px darkgrey;
}

#menuDeroulant {
    background-color: #121212;
    width: 30%;
    font-size: 18px;
    padding: 10px 0;
}

li > a {
    width: 100%;
}

hr {
    background-color: darkgrey;
}

#search_IMDb {
    color: grey;
}

#inputs {
    margin: 0 10px;
}

#search-All {
    color: #F5C518;
}

#carouselExampleDark {
    margin: 20px;
    width: 70%;
    height: 500px;
}

.d-block {
    height: 500px;
}

#modal {
    background-color: #121212;
    width: 100%;
    padding: 20px 250px;
    position: absolute;
    top: 0;
    z-index: 100;
    color: white;
    display: none;
    flex-direction: column;
    font-size: 15px;
}

#logo_IMDb2 {
    width: 110px;
}

#closeModal, .buttonOrange {
    color: #121212;
    background-color: #F5C518;
}

#closeModal {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    margin-left: 85%;
}

#top > button:hover, a.buttonOrange:hover {
    background-color: #DDAF17;
    color: #121212;
}

#top > a:hover {
    background-color: #121212;
}

div.genre > a {
    width: 100%;
    margin-left: 30px;
}

#column1, #column2, #column3{
    width: 100%;
    margin-top: 20px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

.orange {
    color: #F5C518;
}

.genre > a:hover {
    background-color: #121212;
    text-decoration: underline white;
}

.genre {
    margin: 20px 50px;
}

h3, h5 {
    color: #555555;
}

#nextFilm {
    margin-top: 20px;
    width: 28%;
}

#containerNextFilm {
    background-color: #121212;
}

.filmsNext > a {
    font-size: 15px;
    color: grey;
}

a.films:hover {
    background-color: transparent;
}

.filmsNext > img {
    width: 90px;
    margin: 10px;
}

a.films:hover i {
    color: #F5C518;
}

a.films > i, a.films > div > i {
    font-size: 25px;
    color: white;
}

h1 {
    margin: 50px 0;
}

.row > a.socialNetwork > i {
    color: white;
    font-size: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.row > a:hover, a.title:hover {
    text-decoration: underline white;
    background-color: black;
}

a.socialNetwork > i:hover {
    background-color: #121212;
}

a.socialNetwork:hover {
    text-decoration: none;
}

.row {
    flex-wrap: wrap;
}

#amazon {
    margin-top: 20px;
}

#end {
    color: #555555;
    font-size: 13px;
}

.buttonOrange, .row > a, a.films  {
    width: auto;
}

.buttonOrange {
    padding: 5px 80px;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px 5px;
}

.buttonBlack {
    padding: 5px 80px;
    margin: 0 10px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px 5px;
    border: 2px solid white;
    width: auto;
}

.buttonRadius {
    padding: 5px 10px;
    margin: 0 10px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 20px 20px;
    border: 2px solid white;
    width: auto;
}

.borderLeft {
    border-right: 4px solid #F5C518;
    margin-right: 15px;
    border-radius: 5px 5px;
}

.borderBottom {
    border-bottom: 4px solid #F5C518;
    width: 130px;
    margin: 15px 0;
    border-radius: 5px 5px;
}

.colorGrey {
    color: grey;
}

p, .size15 {
    font-size: 10px;
}

.linkBlue, .watchList {
    color: blue;
}

.watchList {
    background-color: #252525;
}

.linkBlue:hover {
    color: blue;
    text-decoration: underline blue;
    background-color: transparent;
}

.backFilm {
    background-color: #121212;
    margin: 10px 10px;
    font-size: 15px;
    padding-bottom: 15px;
}

.backFilm > a, .imageFilmTopPicks  {
    width: 170px
}

#ajoutList {
    margin: auto;
    align-items: center;
}

#ajoutList > i {
    font-size: 40px;
    margin-bottom: 15px;
}

.colorWhite {
    color: white;
}

#clear {
    margin-left: 75%;
    font-size: 15px;
}