@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    font-size: 15px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 130px;
}

footer{
    width: 100%;
    padding: 20px 350px ;
    font-size: 15px;
    align-items: center;
    margin-top: 80px;
}

main {
    width: 80%;
    margin: auto;
}

.filmsNext > a, .flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

#logo_IMDb {
    width: 100%;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    padding: 4px 4px;
    width: 12%;
}

a:hover {
    background-color: #555555;
    color: white;
    border-radius: 2px 2px;
}

i {
    margin: 0 8px;
}

li > a > i, #tvShowsResponsive > i, #moviesResponsive > i, #watchResponsive > i, #awardsEventsResponsive > i, #celebsResponsive > i, #communityResponsive > i {
    color: grey;
    margin: 0 8px;
}

a:hover i {
    color: white;
}

input {
    border: none;
    height: 30px;
    background-color: white;
    border-radius: 2px 2px;
    margin: 0 0;
    border: 0.5px darkgrey;
}

#menuDeroulant {
    background-color: #121212;
    width: 30%;
    font-size: 18px;
    padding: 10px 0;
}

li > a {
    width: 100%;
}

hr {
    background-color: darkgrey;
}

#search_IMDb {
    color: grey;
}

#inputs {
    margin: 0 10px;
}

#carouselExampleDark {
    margin: 20px;
    width: 70%;
    height: 500px;
}

.d-block {
    height: 500px;
}

#modal {
    background-color: #121212;
    width: 100%;
    padding: 20px 250px;
    position: absolute;
    top: 0;
    z-index: 100;
    color: white;
    display: none;
    flex-direction: column;
    font-size: 15px;
}

#logo_IMDb2 {
    width: 110px;
}

#closeModal, .buttonOrange {
    color: #121212;
    background-color: #E62A04;
}

#closeModal {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    margin-left: 85%;
}

#top > button:hover {
    background-color: #C82B0B;
    color: #121212;
}

#top > a:hover {
    background-color: #121212;
}

div.genre > a {
    width: 100%;
    margin-left: 30px;
}

#column1, #column2, #column3{
    width: 100%;
    margin-top: 20px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

.red, #search-All  {
    color: #E62A04;
}

.genre > a:hover {
    background-color: #121212;
    text-decoration: underline white;
}

.genre {
    margin: 20px 50px;
}

h3, h5 {
    color: #555555;
}

#nextFilm {
    margin-top: 20px;
    width: 28%;
}

#containerNextFilm {
    background-color: #121212;
}

.filmsNext > a {
    font-size: 15px;
    color: grey;
}

a.films:hover {
    background-color: transparent;
}

.filmsNext > img {
    width: 90px;
    margin: 10px;
}

a.films:hover i {
    color: #E62A04;
}

a.films > i, a.films > div > i {
    font-size: 25px;
    color: white;
}

.titleMargin {
    margin: 30px 0;
}

h1 {
    margin: 50px 0;
}

.row > a.socialNetwork > i {
    font-size: 25px;
    display: flex;
    border-radius: 50%;
    width: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.row > a:hover, a.title:hover {
    text-decoration: underline white;
    background-color: black;
}

a.socialNetwork > i:hover {
    background-color: #121212;
}

a.socialNetwork:hover {
    text-decoration: none;
}

.row {
    flex-wrap: wrap;
}

#amazon {
    margin-top: 20px;
}

#end {
    color: #555555;
    font-size: 13px;
}

.buttonRed, .row > a, a.films, #browseTrailers  {
    width: auto;
}

.buttonRed {
    padding: 5px 80px;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px 5px;
    background-color: #E62A04;
}

.margin50 {
    margin-top: 50px;
}

a.buttonRed:hover, input.buttonRed:hover {
    background-color: #C82B0B;
}

.buttonBlack {
    padding: 5px 80px;
    margin: 0 10px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px 5px;
    border: 2px solid white;
    width: auto;
}

.borderLeft {
    border-right: 4px solid #E62A04;
    margin-right: 15px;
    border-radius: 5px 5px;
}

.colorGrey {
    color: grey;
}

p {
    font-size: 10px;
}

.linkBlue, .watchList {
    color: blue;
    font-size: 15px;
    width: auto;
}

.watchList {
    background-color: #252525;
    margin: 10px auto;
}

.linkBlue:hover {
    color: blue;
    text-decoration: underline blue;
    background-color: transparent;
}

.backFilm {
    background-color: #121212;
    margin: 10px 10px;
    font-size: 15px;
    padding-bottom: 15px;
    width: 15%;
}

.backFilm > a, .imageFilmTopPicks  {
    width: 100%;
}

.imageFilmTopPicks {
    height: 300px;
}

#ajoutList {
    margin: auto;
    align-items: center;
}

#ajoutList > i {
    font-size: 40px;
    margin-bottom: 15px;
}

.colorWhite {
    color: white;
}

#clear {
    margin-left: 75%;
}

.hoverRed:hover i {
    color: #E62A04;
    background-color: transparent;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E62A04;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#containerChronology, #containerXmen, #containerNextFilm, #containerAmazingSpiderMan, #containerFantastic, #containerFilmAll, #containerSpiderMan, #containerComingSoon, #containerTopPicks {
    flex-wrap: wrap;
}




#send {
    background-color: #E62A04;
    padding: 5px 30px;
    margin: 10px auto;
    border-radius: 15px 15px;
}

#send:hover {
    background-color: #C82B0B;
}

form {
    padding: 0 250px;
    font-size: 15px;
}

label {
    margin: 8px 0;
}

#spiderHelp {
    width: 100%;
}

#contact {
    background-color: #555555;
    margin: 25px auto;
    padding: 12px;
    border-radius: 3px 3px;
    font-size: 15px;
    width: 30%;
}

#contact > p {
    font-size: 15px;
}

.colorRed {
    color: #E62A04;
}

#contact > p > i {
    font-size: 40px;
    color: #E62A04;
}

.backgroundImage {
    background-image: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bW92aWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 100%;
}

section {
    align-items: center;
    padding: 20px;
    margin: 40px auto;
    width: 30%;
}

#account {
    padding: 40px;
    height: 800px;
}

.colorBlack {
    color: #121212;
}

.titleAccount {
    margin: 20px;
}

div.backFilm > a:hover{
    background-color: #121212;
}

div.backFilm > a > img:hover {
    margin-top: 10px;
}

.size15 {
    font-size: 15px;
}

#createAccount {
    border: 1px solid #555555;
    border-radius: 10px 10px;
}

#logo_IMDb2 {
    width: 100px;
}

.placeLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.placeLogo:hover {
    background-color: transparent;
}

#new {
    margin-top: 30px;
}

#menuResponsive {
    display: none;
}

#menuResponsive2 {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
    width: 25%;
    height: 100%;
    background-color: #252525;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
}

#closeMenuResponsive {
    text-align: center;
    border: transparent;
    background-color: transparent;
    width: 10%;
    padding: 12px;
}

#tvShowsResponsive, #moviesResponsive, #watchResponsive, #awardsEventsResponsive, #celebsResponsive, #communityResponsive {
    background-color: transparent;
    border: transparent;
    font-size: 18px;
    color: white;
    padding: 10px 0;
    text-align: left;
    width: 100%;
}

#topMenu {
    justify-content: flex-end;
    padding: 5px;
}

#contenuMovies, #contenuTvShows, #contenuWatch, #contenuAwards, #contenuCelebs, #contenuCommunity {
    display: none;
}

#hello {
    text-align: center;
    font-size: 40px;
}

#imdbMarvel {
    position: absolute;
    width: 10%;
}


@media screen and (max-width: 1160px) {
    header {
        padding: 0;
    }
    main {
        width: 97%;
    }
    #carouselExampleDark {
        width: 100%;
    }
    #nextFilm, #watchlist, #menu{
        display: none;
    }
    .backFilm {
        width: 20%;
    }
    a {
        width: 25%;
    }
    #menuResponsive {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    a {
        font-size: 20px;
        width: 100%;
    }
    #search_IMDb{
        font-size: 20px;
    }
    footer {
        padding: 20px 100px ;
    }
    .titleAccount {
        font-size: 40px;
        color: white;
        width: 100%;
        text-align: center;
    }
    #buttonSignIn, #buttonSignUp {
        font-size: 30px;
        width: 140%;
        display: flex;
        justify-content: center;
    }
    #account {
        flex-direction: column;
        padding: 0;
        background-image: none;
    }
    #amazon, #end, #new, h5, .star {
        font-size: 20px;
    }
    #passwordSignIn, #usernameSignIn, #name, #email, #usernameSignUp, #passwordSignUp, #repeatPassword {
        font-size: 60px;
        height: 70px;
    }
    .formAccount > label, #signIn2, #signUp {
        font-size: 30px;
        height: auto;
    }
    #createAccount, #buttonCreateAccount {
        width: 90%;
    }
    #buttonCreateAccount, #linkSignIn, .linkBlue, .number {
        font-size: 30px;
    }
    .watchList, .buttonRed, h4 {
        font-size: 25px;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
    }
    #whatToWatch {
        flex-direction: column;
    }
    .backFilm {
        width: 160px;
    }
    #carouselExampleDark, .d-block {
        height: 300px;
    }
    #titleMenu, #search_IMDb {
        display: none;
    }
    #signIn, #createAccount {
        width: initial;
    }
    #spiderHelp {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    footer {
        padding: 0;
    }
    header {
        height: 100px;
    }
    #passwordSignIn, #usernameSignIn, #name, #email, #usernameSignUp, #passwordSignUp, #repeatPassword {
        font-size: 25px;
        height: 35px;
    }
    .formAccount > label, #signIn2, #signUp {
        font-size: 15px;
        height: auto;
    }
    #createAccount, #buttonCreateAccount {
        width: 90%;
    }
    #buttonCreateAccount, #linkSignIn, .linkBlue, .number, #buttonSignUp, #buttonSignIn, a {
        font-size: 15px;
    }
    .titleAccount {
        font-size: 20px;
    }
    #menuResponsive2 {
        width: 70%;
    }
    form#formContact {
        padding: 0;
    }
    #contact {
        width: 90%;
    }
}